/** @format */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Averta, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ===================== LandingPage Starts here ============= */

.first_section {
  padding-bottom: 80px;
}

.first_section {
  text-align: center;
  background-image: url(./landingPageImages/hero-bg.svg);
  background-size: contain;
  background-color: #fffafa;
}

.first_section img {
  padding: 100px 0;
}

.intro h1 {
  color: #514949;
  padding-bottom: 30px;
}

.first_section p {
  color: gray;
  line-height: 24px;
  padding: 10px;
  padding-bottom: 100px;
  max-width: 80ch;
  margin: 0 auto;
}

.first_section span {
  color: #dc3545;
}

.first_section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first_section a:nth-child(1) {
  color: white;
  background-color: #e7332b;
  padding: 15px 30px;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.first_section a:nth-child(1):hover {
  background-color: white;
  border: 1px solid #e7332b;
  color: #e7332b;
}

.first_section a:nth-child(2) {
  color: #e7332b;
  border: 1px solid #e7332b;
  background-color: white;
  padding: 15px 25px;
  max-width: 250px;
  margin: 0 auto;
}

.first_section a:nth-child(2):hover {
  background-color: #e7332b;
  color: white;
}

.second_section {
  text-align: center;
}

.second_section > p:nth-child(1) {
  color: #e7332b;
  padding-bottom: 20px;
  margin-top: 80px;
}
.second_section > p:nth-child(2) {
  font-size: 24px;
  line-height: 40px;
  color: #514949;
  max-width: 380px;
  margin: 0 auto;
}

.second_section > div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 40px;
}

.second_section div div {
  background-color: #fffafa;
  padding: 30px 30px;
  margin: 0 5%;
  text-align: left;
  color: #514949;
  z-index: 1;
}

.second_section div div img {
  padding-bottom: 40px;
}

.second_section div div p {
  padding-bottom: 30px;
}

.second_section div div a {
  text-decoration: none;
  color: #e7332b;
}

.bg_img {
  display: none;
}

footer {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px;
  padding: 0 5%;
  color: #514949;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer div > img {
  margin-bottom: 15px;
  width: 150px;
  margin: 0 auto;
}

.logos img {
  width: 20px;
  margin: 0 2px;
}

footer h2 {
  padding-bottom: 10px;
  color: #514949;
  font-size: 16px;
}

.contact p {
  max-width: 30ch;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: small;
  /* font-weight: bold; */
}

.links p {
  color: #e7332b;
  font-size: small;
}

.links p:nth-child(2) {
  margin-bottom: 10px;
}

footer div a {
  color: #e7332b;
  font-size: small;
}

.hr {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #514949;
  opacity: 0.2;
}

.copyright {
  margin-bottom: 80px;
  font-weight: bold;
}

/* ===================== Media Queries ============= */

@media screen and (min-width: 768px) {
  .first_section div {
    flex-direction: row;
    gap: 7%;
  }

  .first_section a:nth-child(1) {
    margin: 0;
  }
  .first_section a:nth-child(2) {
    margin: 0;
  }

  footer > div {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  footer div > img {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .second_section div {
    flex-direction: row;
    gap: 20px;
    margin: 30px 5%;
  }

  .second_section div div {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .second_section > div {
    position: relative;
  }

  .bg_img {
    display: block;
    position: absolute;
    width: 300px;
  }

  .bg_img_left {
    top: -15%;
    left: -80px;
  }
  .bg_img_right {
    top: -15%;
    right: -80px;
  }
}

/* ===================== LandingPage Ends here ============= */

/* ===================== Industry Exp Starts here ============= */

.ie_section1 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 50px;
}

.ie_section1 span span {
  display: none;
}

.btn {
  border: none;
  padding: 10px 30px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  /* font-weight: bold; */
}

.hire_btn {
  color: white;
  background-color: #e7332b;
}

.join_btn {
  color: white;
  background-color: #514949;
}

.ie_section1 span a {
  text-decoration: none;
  color: #514949;
}

.ie_section1 span a:nth-child(1) {
  position: relative;
}
.ie_section1 span a:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  left: -20%;
  margin-top: 10px;
  background-color: #e7332b;
  padding: 1.5px 30px;
}

/* ===================== ie_section2 ============= */

.ie_section2 {
  text-align: center;
}

.ie_section2 h1 {
  font-size: xx-large;
  position: relative;
  padding: 0 10px;
  padding-bottom: 30px;
  max-width: 20ch;
  margin: 0 auto;
}

.ie_section2 h1::after {
  content: url(./industryPageImages/thick2.svg);
  position: absolute;
  left: 39%;
  top: 45%;
  width: 15px;
  height: 10px;
}

.ie_section2 span {
  color: #e7332b;
}

.ie_section2 p {
  padding: 0 5%;
  padding-bottom: 30px;
  color: #514949;
}

.ie_section2 img:nth-child(1) {
  width: 85%;
  margin: 40px auto;
}

.ie_section2 img:nth-child(2) {
  display: none;
}

/* ===================== ie_section3 ============= */

.ie_section3 {
  background-image: url(./industryPageImages/bgsection2.png);
  background-size: cover;
  text-align: left;
  padding: 80px 40px;
}

.ie_section3 h2 {
  padding-bottom: 10px;
  font-size: xx-large;
  max-width: 30ch;
  margin: 0 auto;
}
.ie_section3 p:nth-of-type(1) {
  padding-bottom: 10px;
  font-weight: bold;
}
.ie_section3 p:nth-of-type(2) {
  padding-bottom: 10px;
  color: #514949;
}

.ie_section3 span {
  color: #e7332b;
}

.ie_section3 > img {
  width: 100%;
}

.countries {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.country {
  padding: 8px 10px;
  background-color: white;
  border-radius: 10px;
}

.countries img {
  max-width: 90%;
}

/* ===================== ie_section4 ============= */

.ie_section4 {
  padding: 80px 40px;
}
.ie_section4 h2 {
  font-size: xx-large;
  padding-bottom: 40px;
}

.ie_section4 h2:nth-of-type(2) {
  padding-top: 40px;
}

.ie_section4 span {
  color: #e7332b;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
}

.container p {
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 60px hsla(0, 0%, 48%, 0.16);
  color: #514949;
}

/* ===================== Media Queries ============= */

@media screen and (min-width: 425px) {
  .ie_section2 h1 {
    max-width: 40ch;
  }
  .ie_section2 h1::after {
    left: 73%;
    top: 20%;
  }
  .btn {
    padding: 10px 50px;
  }
}
@media screen and (min-width: 600px) {
  .ie_section2 {
    padding-top: 50px;
  }
  .ie_section2 h1 {
    max-width: 20ch;
  }
  .ie_section2 h1::after {
    left: 39%;
    top: 45%;
  }
  .ie_section2 p {
    padding: 0 25%;
    padding-bottom: 30px;
    color: #514949;
  }

  .ie_section2 img:nth-child(1) {
    width: 60%;
  }

  .ie_section3 {
    text-align: center;
  }
  .countries {
    max-width: 400px;
    margin: 50px auto;
  }

  .ie_section3 > img {
    width: 60%;
  }

  .ie_section4 h2 {
    text-align: center;
    max-width: 23ch;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .ie_section1 {
    padding: 10px 5%;
  }

  .ie_section1 span span {
    display: inline-flex;
    min-width: 350px;
    justify-content: space-around;
  }
}

@media screen and (min-width: 900px) {
  .ie_section3 {
    display: flex;
    text-align: left;
    gap: 30px;
    background-size: contain;
  }

  .ie_section3 > div {
    padding-top: 9%;
  }

  .ie_section3 h2 {
    max-width: 80%;
    margin: 0;
  }

  .countries {
    margin: 10px 0;
  }

  .ie_section3 > img {
    width: 40%;
  }

  .ie_section4 h2 {
    text-align: left;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ie_section2 {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
  }

  .ie_section2 div:nth-child(1) {
    text-align: left;
    min-width: 600px;
    padding-top: 80px;
    padding-left: 30px;
  }
  .ie_section2 div:nth-child(2) {
    min-width: 200px;
    position: relative;
  }

  .ie_section2 img:nth-child(1) {
    margin: 0;
    width: 70%;
  }

  .ie_section2 img:nth-child(2) {
    display: inline;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 60%;
    opacity: 0.5;
  }

  .ie_section2 h1 {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    max-width: 40ch;
  }

  .ie_section2 p {
    padding-left: 0;
    padding-right: 30%;
  }

  .ie_section2 h1::after {
    left: 54%;
    top: 20%;
  }

  .container {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}

/* ===================== Industry Exp Ends here ============= */
